.anm-fog {
    animation: 25s infinite linear kf-slide;
    opacity: 0;
}

.anm-fog.seq-1 {
    animation: none;
    opacity: 1;
}

.anm-fog.seq-2 {
    animation-delay: 0s;
}

.anm-fog.seq-3 {
    animation-delay: 3s;
}

@keyframes kf-slide {
    0% {
        transform: translate3d(50%, 0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate3d(-50%, 0, 0);
        opacity: 0;
    }
}

.shimmer {
    animation: 5s infinite linear kf-shimmer;
}

@keyframes kf-shimmer {
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 0;
    }
    50% {
        transform: translate3d(0, 50%, 0);
        opacity: 1;
    }
    100% {
        transform: translate3d(0, 100%, 0);
        opacity: 0;
    }
}

.thunder {
    animation: 5s infinite linear kf-thunder;
}

@keyframes kf-thunder {
    0% {
        filter: contrast(100%);
    }
    4% {
        filter: contrast(200%);
    }
    8% {
        filter: contrast(100%);
    }
    12% {
        filter: contrast(250%);
    }
    20% {
        filter: contrast(100%);
    }
    100% {

    }
}