#layer-3d {
    perspective: 390px;
    perspective-origin: center center;
}

#game-plane {
    width: 1200px;
    height: 660px;
    top: 0px;
    left: 0px;
    transform-style: preserve-3d;
    transform: rotateX(96deg) translateZ(-82px) translateY(64px) scaleY(0.8) scaleX(0.5);
    transform: rotateX(76deg) translateZ(-82px) translateY(64px) scaleY(0.8) scaleX(0.5);
    background-color: #444;
}

.b_segment {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1200px;
    height: 660px;
    background-color: #061e07;
}

.b_segment.b_0    {
    background-color: #04131e;
}

#layer-3d * {
    position: absolute;
    transform-style: preserve-3d;
}