#layer-3d {
    perspective: 390px;
    perspective-origin: center center;
}

#game-plane {
    width: 1200px;
    height: 660px;
    top: 0px;
    left: 0px;
    transform-style: preserve-3d;
    transform: rotateX(96deg) translateZ(-82px) translateY(72px) scaleY(0.8) scaleX(0.5);
}

#layer-3d * {
    position: absolute;
    transform-style: preserve-3d;
}

#edges {
    width: 1200px;
    height: 660px;
}


.b_edge {
    position: absolute;
    top: -200px;
    left: 0px;
    width: 100px;
    height: 800px;
    //background: linear-gradient(to left, #B8EBF3 0%, #dbf2f4 100%);
    transform-origin: 0% 0%;
    display: none;
}

.b_edge.b_1 {
    transform: rotateY(-170deg);
}

.b_edge.b_2 {
    width: 100px;
    transform: translateZ(0px) rotateY(0deg);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, #2f86af 40%, #2f86af 100%);
}

.b_edge.b_3 {
    transform: translateX(1100px) rotateY(-10deg);
}

.b_edge.b_4 {
    width: 600px;
    transform: translateX(80px) translateZ(16px) translateX(1100px) rotateY(-5deg);
}
