#b_base {
    width:1200px;
    height:660px;
    transform-origin: 50% 50%;
}

#b_lake {
    top: 400px;
}

#b_tower {
    top: 0px;
    left: 300px;
    overflow: hidden;
    width: 600px;
    height: 400px;
}

.b_cliff{
    z-index:10;
    top: 20px;
}

.b_cliff.b_1 {
    left:880px;
}

.b_twr-beam{
    mix-blend-mode: screen;
    height: 400px;
    width: 4px;
    left:296px;
    background-color:white;
    filter:blur(2px);
    transition: all 0.7s;
}


@-moz-document url-prefix() {
    .b_fog {
        mix-blend-mode: initial;
    }
}

.b_ship {
    width: 18px;
    height: 2px;
    background-color: #124F7B;
}

.b_ship::after {
    position: absolute;
    top:-6px;
    left:5px;
    color: #0c4359;
    font: bold 14px 'Courier New';
    content:'W';
}