.b_plate {
    background-color: white;
    /*transform-origin: 50% 0%;
    transform: rotateX(90deg) rotateZ(0deg);
    background: linear-gradient(to bottom, #B8EBF3 0%, #dbf2f4 40%, #dbf2f4 100%);
    animation: 1s linear 0s infinite alternate kf-hov;*/
}

.b_plate:before {
    display: block;
    content:'';
    background-color: rgba(18, 79, 123, 0.33);
    position: absolute;
    transform: translateZ(-4px);
    width: 120px;
    height: 60px
    /*transform-origin: 50% 0%;
    transform: rotateX(90deg) rotateZ(0deg);
    background: linear-gradient(to bottom, #B8EBF3 0%, #dbf2f4 40%, #dbf2f4 100%);
    animation: 1s linear 0s infinite alternate kf-hov;*/
}

.b_segment {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1200px;
    height: 660px;
}

/*.e_snowplate {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1200px;
    height: 660px;
    background-color: white;
    -webkit-clip-path: polygon(7% 13%, 23% 9%, 38% 21%, 84% 20%, 93% 63%, 66% 76%, 15% 83%, 25% 45%);
}*/

#w_fog {
    top: 0px;
    left: 0px;
    height: 70px;
    width: 1200px;
    /*background: linear-gradient(to bottom, #fff 0 %, #dbf2f4 20 %, rgba(219, 242, 244, 0.2) 70 %, transparent 100 %);*/
    background: radial-gradient(ellipse at top, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 70%);
    transform-origin: 50% 0%;
    transform: rotateX(90deg) rotateZ(0deg) translateZ(-100px) scaleX(1) scaleY(1);
    /*display: none;*/
}

.b_fog {
    top: 100px;
    left: 0px;
    height: 20px;
    width: 1200px;
    background: linear-gradient(to top, #fff 0%, #dbf2f4 20%, rgba(219, 242, 244, 0.2) 70%, transparent 100%);
    opacity: 0.5;
    /*mix-blend-mode: screen;
    display: none;*/
}


@keyframes kf-hov {
    0% {
        transform: translateZ(1px);
    }
    100% {
        transform: translateZ(0px);
    }
}
