.b_plate {
    background-color: white;
    /*transform-origin: 50% 0%;
    transform: rotateX(90deg) rotateZ(0deg);
    background: linear-gradient(to bottom, #B8EBF3 0%, #dbf2f4 40%, #dbf2f4 100%);
    animation: 1s linear 0s infinite alternate kf-hov;*/
}

.b_plate:before {
    display: block;
    content: '';
    background-color: rgba(18, 79, 123, 0.5);
    position: absolute;
    transform: translateZ(-4px);
    width: 120px;
    height: 60px;
}

.b_turret {
    background: linear-gradient(to bottom, rgba(228, 245, 252, 0) 20%, rgba(228, 245, 252, 1) 100%);
    border-left: solid 4px rgba(75, 198, 225, 0.9);
    transform-origin: 0% 0%;
    transform: rotateX(90deg) translateY(-400px);
}

.b_turret-head {
    background-color: white;
    border-top: solid 4px rgba(75, 198, 225, 0.7);
    border-bottom: solid 2px rgba(255, 255, 255, 0.7);
    transition: all 1s cubic-bezier(.36, -0.64, .34, 1.76);
    transform: translateY(500px);
}

.b_turret-head.fire {
    background-color: red;
    height: 40px !important;
}

.b_missile {
    background-color: red;
    border-radius:4px;
    transform-origin: 50% 50%;
    transform: rotateX(90deg) translateY(20px);
    display: none;
}

.b_missile:before {
    display: block;
    content: '';
    background-color: rgba(255,0,0,0.1);
    position: absolute;
    transform: rotateX(270deg) translateZ(-14px);
    width: 12px;
    height: 12px;
    border-radius: 12px;
}

.b_segment {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1200px;
    height: 660px;
}

#w_fog {
    top: 0px;
    left: 400px;
    height: 80px;
    width: 400px;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.85) 20%, rgba(255, 255, 255, 0) 70%);
    transform: rotateX(90deg) rotateZ(0deg) translateY(10px) scaleX(3) scaleY(2);
}

.b_fog {
    background: linear-gradient(to bottom, rgba(228, 245, 252, 0) 20%, rgba(228, 245, 252, 1) 40%, rgba(191, 232, 249, 1) 55%, rgba(42, 176, 237, 0) 80%);
    opacity: 0.95;
    z-index: 20;
}

@keyframes kf-hov {
    0% {
        transform: translateZ(1px);
    }
    100% {
        transform: translateZ(0px);
    }
}
