:root {
    --c_col1: rgb(43, 38, 34);
    --c_col2: rgb(89,110,127);
    --c_col3: #ffcc6b;
    --c_col4: #444;
    --c_col5: #363636;
    --c_col6: #444;
    --c_col7: #ffcc6b;
    --c_col8: rgb(38, 34, 30);
}

.c_hero > .c_seg1,
.c_hero > .c_seg2 {
    border: none;
}

.c_hero * {
    border-radius: 2px;
    border: solid 1px rgba(0,0,0,0.2);
}

.c_head {
    background-color: var(--c_col3);
}

.c_torso {
    background-color: var(--c_col1);
}

.c_left-leg,
.c_right-leg {
    background-color: var(--c_col5);
}

.c_left-leg .c_lower,
.c_right-leg .c_lower {
    background-color: var(--c_col6);
}

.c_left-leg .c_foot,
.c_right-leg .c_foot {
    background-color: yellow;
    display: none;
}

.c_left-arm,
.c_right-arm {
    background-color: var(--c_col1);
}

.c_left-arm .c_lower,
.c_right-arm .c_lower {
    background-color: var(--c_col2);
}

.c_left-arm .c_lower .c_hand,
.c_right-arm .c_lower .c_hand {
    background-color: var(--c_col7);
}

.c_cape {
    background-color: var(--c_col8);
    border-top: none;
}

#hero {
    width: 200px;
    height: 260px;
    top: 270px;
    left: 50%;
    position: absolute;
    transform-origin: 0% 50%;
    transform: translateZ(200px) rotateY(90deg) scale3d(0.44,0.44,0.44);
}