.c_hero > .c_seg {
    border: none;
}

.c_hero * {
    border-radius: 2px;
    border: solid 1px rgba(0, 0, 0, 0.2);
}

.c_head {
    background-color: #ffcc6b;
}

.c_torso {
    background-color: #1A2123;
}

.c_left-leg,
.c_right-leg {
    background-color: #363636;
}

.c_left-leg .c_lower,
.c_right-leg .c_lower {
    background-color: #444;
}

.c_left-leg .c_foot:after,
.c_right-leg .c_foot:after {
    background-color: #151a1c;
    width: 40px;
    height: 20px;
    border-radius: 4px;
    content:'';
    display:block;
    transform: rotateX(90deg);
}

.c_left-arm,
.c_right-arm {
    background-color: #1A2123;
}

.c_left-arm .c_lower,
.c_right-arm .c_lower {
    background-color: rgb(89, 110, 127);
}

.c_left-arm .c_lower .c_hand,
.c_right-arm .c_lower .c_hand {
    background-color: #ffcc6b;
}

.c_cape {
    background-color: #1A2123;
    border-top: none;
}

#hero {
    width: 200px;
    height: 260px;
    top: 264px;
    left: 50%;
    position: absolute;
    transform-origin: 0% 50%;
    transition: top 2s;
}

.b_shadow {
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0) 100%);
    border-radius: 16px;
    transform: scaleY(1.2);
}