#xPlayer {
    transform-style: preserve-3d;
}

#xPlayer {
    position: absolute;
    width: 40px;
    height: 40px;
    /*background-color:red;*/
}

.skeleton {
    transform: scale3d(0.2, 0.1, 0.1) rotateX(-55deg) translate3d(-120px,-280px,0);
}

.skeleton {
    position: absolute;
    width: 100px;
    height: 100px;
}

.skeleton * {
    position: absolute;
}

.arm-left {
    top: 70px;
    left: 0px;
    width: 0;
    height: 0;
    border-top: 70px solid #edad71;
    border-left: 12px solid transparent;
    border-right: 16px solid transparent;
    transform: rotateZ(10deg);
}

.arm-right {
    top: 70px;
    left: 73px;
    width: 0;
    height: 0;
    border-top: 70px solid #edad71;
    border-left: 12px solid transparent;
    border-right: 16px solid transparent;
    transform: rotateZ(-10deg);
}

.leg-left {
    top: 220px;
    left: 28px;
    width: 0;
    height: 0;
    border-top: 60px solid #edad71;
    border-left: 10px solid transparent;
    border-right: 12px solid transparent;
}

.leg-right {
    top: 220px;
    left: 50px;
    width: 0;
    height: 0;
    border-top: 60px solid #edad71;
    border-left: 12px solid transparent;
    border-right: 10px solid transparent;
    animation-delay: 1s !important;
}

.cape {
    left: -10px;
}

.cape-s1 {
    top: -20px;
    left: -5px;
    width: 60px;
    height: 0;
    border: 30px solid rgba(0, 0, 0, 0);
    border-top: 0 solid;
    border-bottom: 120px solid #14ae90;
    transform: rotateZ(10deg);
}

.cape-s2 {
    top: 0px;
    left: 0px;
    width: 60px;
    height: 0;
    border: 30px solid rgba(0, 0, 0, 0);
    border-top: 0 solid;
    border-bottom: 124px solid #29d2b0;
    animation-delay: 0.5s !important;
}

.cape-s3 {
    top: -20px;
    left: 14px;
    width: 60px;
    height: 0;
    border: 30px solid rgba(0, 0, 0, 0);
    border-top: 0 solid;
    border-bottom: 136px solid #1fbf9f;
    transform: rotateZ(-12deg);
    animation-delay: 1s !important;
}

.torso {
    top: 25px;
    width: 50px;
    height: 0;
    position: relative;
    margin: 20px 0 50px;
    border: 25px solid rgba(0, 0, 0, 0);
    border-top-width: 0;
    border-bottom-color: #24c5a5;
    z-index: 5;
}

.torso::after {
    width: 0;
    height: 0;
    position: absolute;
    content: "";
    top: 25px;
    left: -25px;
    border: 50px solid rgba(0, 0, 0, 0);
    border-top: 70px solid #24c5a5;
    border-bottom-width: 0;
}

.head {
    top: 4px;
    left: 30px;
    width: 36px;
    height: 44px;
    border: none;
    border-radius: 50% / 60% 60% 40% 40%;
    background: #555;
}

.head::before {
    content: '';
    display: block;
    width: 30px;
    height: 44px;
    border: none;
    border-radius: 50% / 60% 60% 40% 40%;
    background: #222;
}

.hair {
    top: 36px;
    left: 40px;
    width: 27px;
    height: 40px;
    border: none;
    border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
    background: #3a3a3a;
    transform: rotateZ(120deg);
    z-index: 10;
}

.hair::before {
    content: '';
    display: block;
    width: 32px;
    height: 36px;
    border: none;
    border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
    background: #222;
    z-index: 10;
}

.subtle {
    animation: subtle 2s infinite;
    animation-direction: alternate;
}

@keyframes subtle {
    0% {
    }
    100% {
        transform: rotateZ(-2deg);
    }
}

.walk {
    animation: walk 1s infinite;
    animation-direction: alternate;
}

@keyframes walk {
    0% {
    }
    100% {
        transform: translateY(-32%);
        border-top-color: #c4874e;
    }
}

.anm-head {
    animation: anm-head 1s infinite;
    animation-direction: alternate;
}

@keyframes anm-head {
    0% {
    }
    100% {
        transform: translateY(4%);
    }
}

.anm-hair {
    animation: anm-hair 1s infinite;
    animation-direction: alternate;
}

@keyframes anm-hair {
    0% {
        transform: rotateZ(120deg) translateY(0%);
    }
    100% {
        transform: rotateZ(130deg) translateX(-10%) translateY(0%);
    }
}

