#xPlayer {
    transform-style: preserve-3d;
}

#xPlayer {
    position: absolute;
/*    width: 40px;
    height: 40px;
    background-color:gray;*/
}

.xPlayer .skeleton * {
    position: absolute;
}

.xPlayer .skeleton {
    //left: 306px;
    //top: 100px;
    position: absolute;
    //width: 200px;
    //height: 400px;
    transform: scale3d(0.24, 0.12, 0.12) rotateX(-90deg) translate3d(50px,-240px,200px);
}

.xPlayer .arm-left {
    top: 54px;
    left: 24px;
    width: 0;
    height: 0;
    border-top: 80px solid #8b4a0d;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    transform: rotateZ(20deg);
    transform-origin: 8px 0;
}

.xPlayer .arm-right {
    top: 54px;
    left: 54px;
    width: 0;
    height: 0;
    border-top: 80px solid #8b4a0d;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    transform: rotateZ(-20deg);
    transform-origin: 8px 0;
}

.xPlayer .leg-left {
    top: 160px;
    left: 23px;
    width: 0;
    height: 0;
    border-top: 90px solid #8b4a0d;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    transform-origin: 9px 0;
}

.xPlayer .leg-right {
    top: 160px;
    left: 55px;
    width: 0;
    height: 0;
    border-top: 90px solid #8b4a0d;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    animation-delay: 1s !important;
    transform-origin: 9px 0;
}

.xPlayer .cape {
    left: 1px;
    top: 47px;
}

.xPlayer .cape-s1x {
    top: -20px;
    left: -5px;
    width: 40px;
    height: 0;
    border: 30px solid rgba(0, 0, 0, 0);
    border-top: 0 solid;
    border-bottom: 120px solid #14ae90;
    transform: rotateZ(10deg);
}

.xPlayer .cape-s2 {
    top: 0px;
    left: 0px;
    width: 36px;
    height: 0;
    border: 28px solid rgba(0, 0, 0, 0);
    border-top: 0 solid;
    border-bottom: 132px solid #29d2b0;
    animation-delay: 0.5s !important;
}

.xPlayer .cape-s3x {
    top: -20px;
    left: 14px;
    width: 60px;
    height: 0;
    border: 30px solid rgba(0, 0, 0, 0);
    border-top: 0 solid;
    border-bottom: 136px solid #1fbf9f;
    transform: rotateZ(-12deg);
    animation-delay: 1s !important;
}

.xPlayer .torso {
    top: 45px;
    left: 17px;
    width: 40px;
    height: 0;
    position: absolute;
    border: 10px solid transparent;
    border-top-width: 0;
    border-bottom-color: #edad71;
}

.xPlayer .torso::after {
    width: 0;
    height: 0;
    position: absolute;
    content: "";
    top: 15px;
    left: -5px;
    border: 25px solid rgba(0, 0, 0, 0);
    border-top: 75px solid #edad71;
    border-bottom-width: 0;
}

.xPlayer .head {
    top: 6px;
    left: 30px;
    width: 34px;
    height: 40px;
    border: none;
    border-radius: 50% / 60% 60% 40% 40%;
    background: #555;
}

.xPlayer .head::before {
    content: '';
    display: block;
    width: 30px;
    height: 40px;
    border: none;
    border-radius: 50% / 60% 60% 40% 40%;
    background: #222;
}

.xPlayer .hair {
    top: 44px;
    left: 36px;
    width: 26px;
    height: 30px;
    border: none;
    border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
    background: #3a3a3a;
    transform: rotateZ(150deg);
    z-index: 10;
}

.xPlayer .hair::before {
    content: '';
    display: block;
    width: 20px;
    height: 36px;
    border: none;
    border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
    background: #222;
    z-index: 10;
}

/* ANIMATIONS */

.xPlayer .skeleton.w-f {
    animation: kf-up-down 0.3s linear infinite;
    animation-direction: alternate;
}

.w-f .hair {
    animation: kf-hair 0.3s ease-in infinite;
    animation-direction: alternate;
}

.w-f .arm-left {
    animation: kf-arm-l-f 0.6s infinite;
    animation-direction: alternate;
}

.w-f .arm-right {
    animation: kf-arm-r-f 0.6s linear infinite;
    animation-direction: alternate;
}

.w-f .leg-left {
    animation: kf-leg-l-f 0.6s linear infinite;
    animation-direction: alternate;
}

.w-f .leg-right {
    animation: kf-leg-r-f 0.6s linear infinite;
    animation-direction: alternate;
}

@keyframes kf-up-down {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(10px);
    }
}

@keyframes kf-hair {
    0% {
        transform: rotateZ(150deg) translateY(0%);
    }
    100% {
        transform: rotateZ(140deg) translateX(-20%) translateY(0%);
    }
}

@keyframes kf-leg-l-f {
    0% {
        transform: translateY(-16px);
    }
    60% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(16px);
    }
}

@keyframes kf-leg-r-f {
    0% {
        transform: translateY(16px);
    }
    40% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-16px);
    }
}

@keyframes kf-arm-l-f {
    0% {
        transform: rotateZ(20deg) rotateX(0deg);
    }
    100% {
        transform: rotateZ(30deg) rotateX(0deg);
    }
}

@keyframes kf-arm-r-f {
    0% {
        transform: rotateZ(-30deg) rotateX(0deg);
    }
    100% {
        transform: rotateZ(-20deg) rotateX(0deg);
    }
}