.xProbe {
    position: absolute;
}

.xProbe {
    transform: scale3d(0.2, 0.1, 0.1) rotateX(90deg) translate3d(-210px, -150px, 100px);
    position: absolute;
    transform-style: preserve-3d;
}


.xProbe .skeleton {
    position: absolute;
    top: 200px;
    left: 200px;
    width: 200px;
    height: 400px;
    transform-style: preserve-3d;
    transform: translateZ(10px);
}

.xProbe .skeleton * {
    position: absolute;
    transform-style: preserve-3d;
}

.xProbe .shadow {
    width: 200px;
    height: 200px;
    background: #111;
    border-radius: 100px;
}

.xProbe.active .shadow {
    animation: 1s linear 0s infinite alternate kf-hov-shadow;
}

.xProbe.active .mine {
    animation: 1s linear 0s infinite alternate kf-hov;
}

.xProbe .mine {
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 100px;
    border-width: 2px;
    border-color: #bdc3c7;
    border-style: dotted;
}

.xProbe .detail {
    top: 20px;
    left: 20px;
    width: 160px;
    height: 160px;
    background-color:#ccc;
    border-radius: 80px;
    border-width: 1px;
    border-color: #bdc3c7;
    border-style: solid;
}

.xProbe .eye {
    top:20px;
    left:20px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: #42dff4;
    filter: blur(8px);
    transform-origin: 80px 80px;
    animation: kf-rot 4s linear infinite;
}

.xProbe.alert .eye {
    background: #d35400;
}

@keyframes kf-hov {
    0% {
        transform: translateZ(80px);
    }
    100% {
        transform: translateZ(200px);
    }
}

@keyframes kf-hov-shadow {
    0% {
        opacity: 0.2;
    }
    100% {
        transform: scaleX(0.5) scaleY(0.5);
        opacity: 0.05;
    }
}

@keyframes kf-rot {
    0% {
    }
    100% {
        transform: rotateZ(360deg);
    }
}